export(deriv_tests)
export(gradient)
export(hAh.test)
export(hessian)
export(mds)
export(mdslag_coef)
export(mdslag)
export(midas_coef)
export(midas_r)
export(midas_u)
export(midas.sim)
export(restr_coef)
export(restr_names)
export(restr_param)
export(simplearma.sim)
import(foreach)
import(MASS)
import(numDeriv)
S3method(deriv_tests,midas_r)
S3method(gradient,midas_r)
S3method(hessian,midas_r)
S3method(mdslag,default)
S3method(mdslag,mds)
S3method(midas_r,formula)
S3method(midas_r,midas_r)
